:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --adress-hero-color: #FFFFFF;
    --hover-color: #2196F3;
    --hero-bgc: #2F303A;
    --first-logo-color: #000000;
    --second-logo-color: #2196F3;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --footer-bgc: #2F303A;
    --section-command-bgc: #F5F4FA;
    --button-hover-bgc: rgba(24, 140, 232, 1);
    --general-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --button-font-family: inherit;
}


body {
    color: var(--main-color);
    font-family: var(--general-font), var(--secondary-font);
}

/* Logo header footer */
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.web {
    color: var(--second-logo-color);
}

.studio {
    color: var(--first-logo-color);
}

.foot {
    color: var(--adress-hero-color);
}

/* head */
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style-type: none;
}
/* header. a {
    cursor: pointer;
} */
.header .link {
    color: var(--main-color);
    list-style-type: none;
    text-decoration: none;
}
.header .current,
.header .link:hover,
.header .link:focus {
    color: var(--hover-color);
}

.current {
    color: var(--main-color);
    list-style-type: none;
    text-decoration: none;
}
.current:current {
    color: var(--hover-color);
}

.contact {
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}



.contact .link {
    color: var(--secondary-color);
    text-decoration: none;
}

.contact .link:hover,
.contact .link:focus {
    color: var(--hover-color);
}


/* HERO */

.hero {
    background-color: var(--hero-bgc);
    text-align: center;
    letter-spacing: 0.06em;
}

.first-title {
    color: var(--adress-hero-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

/* hero-button */
.hero .button {
    cursor: pointer;
    color: var(--adress-hero-color);
    background-color: var(--hover-color);
    font-family: var(--button-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
}

.hero .button:hover,
.hero .button:focus {
    background-color: var(--button-hover-bgc);
}

/* вторинні заголовки */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
/* преимущества */
.soft {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    list-style-type: none;
}

.tech {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* image
.image {
    list-style-type: none;
} */


/* команда */
.command {
    background-color: var(--section-command-bgc);
}

}

.list {
    list-style-type: none;
}

.team {
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.work {
    color: var(--secondary-color);
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

/* footer */
.footer {
    background-color: var(--footer-bgc);
}

.adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}

.contacts:hover,
.contacts:focus {
    color: var(--hover-color);
}



.contact-list {
    list-style-type: none;
} 

.maplink {
    color: var(--adress-hero-color);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.maplink:hover {
    color: var(--hover-color);
}

.contacts {
    color: var(--footer-contacts-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}


/* Portfolio */

.project-list {
    list-style-type: none;
}
.project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.product {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.buttons-list {
    list-style-type: none;
}
.buttons {
    cursor: pointer;
    background-color: var(--section-command-bgc);
    font-family: var(--button-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.buttons:hover,
.buttons:focus {
    background-color: var(--hover-color);
    color: var(--adress-hero-color);
}