:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --adress-hero-color: #FFFFFF;
    --hover-color: #2196F3;
    --hero-bgc: #2F303A;
    --first-logo-color: #000000;
    --second-logo-color: #2196F3;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --footer-bgc: #2F303A;
    --section-command-bgc: #F5F4FA;
    --button-hover-bgc: rgba(24, 140, 232, 1);
    --general-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --button-font-family: inherit;
}
    

body {
    color: var(--main-color);
    font-family: var(--general-font), var(--secondary-font);
}

.head {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
    text-decoration: none;
}


.head .study:current {
    color: var(--hover-color);
}


.head .link {
    color: var(--main-color);
}


.head-contact .mail {
    color: var(--secondary-color);
    text-decoration: none;
}

.head-contact .tel {
    text-decoration: none;
    color: var(--secondary-color);
}

.head-contact .mail:hover,
.head-contact .mail:focus {
    color: var(--hover-color)
}

.head-contact .tel {
    color: var(--secondary-color);
}

.head:hover,
.head:focus {
    color: var(--button-hover-bgc);
}


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo .web {
    color: var(--second-logo-color);
}

.logo .studio {
    color: var(--first-logo-color);
}

.logo .foot {
    color: var(--adress-hero-color);
}

.hero {
    background-color: var(--hero-bgc);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .title {
    color: var(--adress-hero-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.hero .button {
    cursor: pointer;
}

.hero .button {
    color: var(--adress-hero-color);
    background-color: var(--hover-color);
    font-family: var(--button-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}



.hero .button:hover,
.hero .button:focus {
    background-color: var(--button-hover-bgc);
}



.soft {
    list-style-type: none;
}
.soft .list {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    list-style-type: none;
}

.soft .item {
    color: var(--secondary-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.image {
    list-style-type: none;
}

.command {
    background-color: var(--section-command-bgc);
}

.command-list {
    list-style-type: none;
}

.title-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.work {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.footer {
    background-color: var(--footer-bgc);
    
}

.adress {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    
}
.adress-list {
    list-style-type: none;
}

.adress .map-link {
    color: var(--adress-hero-color);
    text-decoration: none;
}


.adress .contacts {
    color: var(--footer-contacts-color);
    font-size: 14px;
    line-height: 1.71;
    
}

.adress .contacts:hover,
.adress .contacts:focus {
    color: var(--hover-color);
}



/* Portfolio */






.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-list {
    list-style-type: none;
}
.product {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.88;
}

.button-filter {
    
    list-style-type: none;
}
.button-filter .filter {
    cursor: pointer;
    background-color: var(--section-command-bgc);
    font-family: var(--button-font-family);
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
}


.button-filter .filter:hover,
.button-filter .filter:focus {
    color: var(--section-command-bgc);
    background-color: var(--button-hover-bgc);
}


.head .study:current {
    color: var(--hover-color);
}


